<div class="pull-right panel panel-primary col-md-4" style="padding:0px">
    <div class="panel-heading">
      <h3 class="panel-title">MY ADVISOR</h3>
    </div>
    <div class="panel-body myadvisor"> 
      <img src="{{advisor[0].display}}" alt="my advisor" height="150" width="150"> 
	   <div class="pull-right"><h4>{{advisor[0].myadvisor}}</h4><br>{{advisor[0].address}}<br>{{advisor[0].tel}}<br><span class="glyphicon glyphicon-envelope"></span>  <a href="mailto:{{advisor[0].email}}">{{advisor[0].email}}</a></div>
     </div>
  </div>