<!--main component -->
<div class="container">
  <div class="page-header clearfix">
    <div class="col-md-8">
      <h1>UNIVERIS</h1>
    </div>
    <div class="pull-right">
      <ul class="nav nav-pills">
        <li><a href="#">help</a></li>
        <li><a href="#">language</a></li>
        <li><a href="#">signout</a></li>
      </ul>
    </div>
  </div>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li routerLinkActive="active"><a routerLink="/HOME" routerLinkActive="active">Home</a></li>
          <li routerLinkActive="active"><a routerLink="/ACCOUNTDETAILS" routerLinkActive="active">Account Details</a></li>
          <li routerLinkActive="active"><a routerLink="/MYPROFILE" routerLinkActive="active">My Profile</a></li>
          <li routerLinkActive="active"><a routerLink="/DOCUMENTS" routerLinkActive="active">Documents</a></li>
          <li routerLinkActive="active"><a routerLink="/APPROVALS" routerLinkActive="active">Approvals</a></li>
        </ul>
      </div>
    </div> 
  </nav>
 <!-- routing happens here-->
  <router-outlet></router-outlet>
  </div>
